* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

input {
    height: 30px;
    font-size: 1rem;
    padding: 5px;
    border-radius: 3px;
}

button {
    padding: 5px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}