* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #add8e6;
}

.container {
  border: 2px solid rgb(5, 5, 5);
  padding: 30px;
  border-radius: 10px;
  background-color: darkgray;
  box-shadow: 0 0 5px rgb(17, 16, 16);
}

.bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: #008000;
  font-weight: bold;
  cursor: pointer;
}

#input {
  margin: 0 15px;
  height: 35px;
  width: 100px;
  font-size: 1.2em;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}
