* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 30px;
  padding: 5px 10px;
  font-size: 1.2rem;
}
