* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 1rem;
  padding: 4px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 500;
}

button {
  font-size: 1rem;
  padding: 4px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}
