* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #808080;
  border-radius: 10px;
  cursor: pointer;
}
